version: "3.9"

services:
  api:
    build: .
    container_name: fastapi
    command: uvicorn model:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"

    volumes:
      - .:/app
    restart: unless-stopped